body {
    background-color: #023047;
    color: white;
}

/* I know this ul wasn't in the requirements but I formatted my nav using a ul so I had to remove
the bullet points and padding/margin */
ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
    padding: 0;
    margin: 0;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    background-color: #0077b6;
}

h4 {
    color: white;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;;
}

nav a:hover {
    background-color: #0077b6;
    color: #999999;
}

#hero-msg h1 {
    text-align: center;
}

#hero-msg h4 {
    text-align: center;
}

.button_box {
    text-align: center;
}

.book {
    background-color: #606c38;
    color: white;
    text-decoration: none;
}

.book:hover {
    background-color: #0077b6;
    color: #999999;
}

.msg {
    background-color: #0077b6;
}

.msg h2 {
    color: white;
}

.msg p {
    color: white;
}

.join {
    background-color: #606c38;
    color: white;
    text-decoration: none;
}

.join:hover {
    background-color: #0077b6;
    color: #999999;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #0077b6;
}

/* I also added this to make the hero span the entire page width */
#hero-img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #023047;
    color: white;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer a {
    color: #ffb703;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

#logo {
    width: 80px;
}

.icon {
    width: 80px;
}