#wrapper {
    position: sticky;
    top: 0;
    display: flex;
    width:100%;
    margin:0 auto;
    padding: 5px;
    gap: 5px;
    background-color: #274C77;
    color:#E7ECEF;
}

#logo {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

body {
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
    gap: 50px;
    background-color: #6096BA;
}

nav ul a{
    color: #E7ECEF;
    text-decoration: none;
}

nav ul a:hover {
    color: white;
}

main {
    background-color: #A3CEF1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 75px 1fr 1fr;
    padding: 0px;
    min-height: 100vh;
    margin: 0px;
}

h1 {
    grid-column: 1/ span 2;
    text-align: center;
    padding: 0px;
}

#main-image {
    width: 100%;
    height: auto;
    grid-column: 1;
}

#secondary-image {
    width: 100%;
    height: auto;
    grid-column-start: 2;
    padding: 0;
}

footer {
    text-align: center;
    background-color: lightgray;
    padding: 0px;
    margin: 0px;
    padding: 10px;
}
footer p {
    margin: 0;
}

footer ul a{
    color: black;
    text-decoration: none;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
    justify-content: center;
}