@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

#wrapper {
    position: sticky;
    top: 0;
    display: flex;
    width:100%;
    margin:0 auto;
    padding: 8px;
    gap: 5px;
    background-color: #274C77;
    color:#E7ECEF;
    font-family: 'SN Pro', sans-serif;
}

#logo {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    padding: 5px;
    margin-top: 20px;
}

body {
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    gap: 200px;
    justify-content: center;
    background-color: #6096BA;
    font-family: 'SN Pro', sans-serif;
}

nav ul a{
    color: #E7ECEF;
    text-decoration: none;
}

nav ul a:hover {
    color: white;
}

main {
    background-color: #A3CEF1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 75px 1fr 1fr;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 100vh;
    margin: 0px;
    font-family: 'Noto Sans', sans-serif;
}

p {
    margin: 20px;
    padding: 20px;
}

h1 {
    grid-column: 1/ span 2;
    text-align: center;
    padding: 0px;
    text-shadow: 2px 1px 2px #274C77; 
}

#main-image {
    max-height: 500px;
    max-width: 500px;
    height: auto;
    grid-column: 1;
    justify-self: center;
    border:#274C77 solid 8px;
    border-radius: 10px;
}

#secondary-image {
    max-height: 500px;
    max-width: 500px;
    height: auto;
    grid-column-start: 2;
    padding: 0;
    justify-self: center;
}

#ice-image {
    max-width: 500px;
    max-height: 500px;
    grid-column: 2/3;
    justify-self: center;
}

footer {
    text-align: center;
    background-color: lightgray;
    padding: 0px;
    margin: 0px;
    padding: 10px;
    font-family: 'SN Pro', sans-serif;
}
footer p {
    margin: 0;
}

footer ul a{
    color: black;
    text-decoration: none;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
    justify-content: center;
}

#links {
    grid-row: 2/3;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 10px;
    justify-content: center;
    justify-items: start;
}

#links li a {
    margin: 5px 0;
    text-decoration: none;
    padding: 20px;
    margin-left: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
}

#links li a:hover {
    color: #274C77;
}

#instructions {
    grid-column: 1/3;
    text-shadow: 2px 1px 2px #274C77;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
}

/* dropdown menu and arrow css*/
.rotate-arrow {
  transform: rotate(90deg);
}

#ice-submenu {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.3s ease;
  list-style: none;
  position: absolute;
  background-color: #6096BA;
  padding: 0 15px;
  border-radius: 0 0 8px 8px;
  display: flex;
  gap: 5px;
  flex-direction: column;
}

#ice-submenu.open {
  max-height: 500px;
  opacity: 1;
  padding: 10px;
}

.ice-header {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 100%;
}

#ice-arrow {
  cursor: pointer;
  display: inline-block;
  transition: transform 0.2s ease;
  color: #E7ECEF;
  background: none;
  border: none;
}

.dropdown-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}